 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: white;
}

body{
  background-color: black;
  color: white;
  overflow: hidden;
  overflow-y:scroll ;
} 
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}